
/* Curso CSS estilos aprenderaprogramar.com*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;    
    text-align: center;    
    border-collapse: collapse; }

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #98c1d9;
    border-top: 4px solid #293241;  
    width: 150px;  
    border-bottom: 1px solid #fff; 
    color: #3d5a80; }

td {    
    padding: 8px;     
    background: #98c1d9;     
    border-bottom: 1px solid #fff;
    color: #000;    
    border-top: 1px solid transparent; }

tr:hover td { 
    background: #F4AC9B; 
    color: #3d5a80; 
}

.results{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.results h1{
    text-align: center;
}

.gameButtons form{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5pt;
}

.gameButtons form input{
    width: 80%;
}

