@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
    margin-top: 60pt;
}

p, a, label{
    font-size: 10pt;
    font-family: 'Poppins', Sans-Serif;
    margin: auto;
    width: 90%;
    padding-bottom: 25pt;
    padding-top: 25pt;
    text-align: justify;
}

td, th, tr, li{
    font-size: 10pt;
    font-family: 'Poppins', Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Sans-Serif;
}

input, button, textarea{
    border: 0;
    background-color: white;
}

small{
    font-size: 8pt;
    font-family: 'Poppins', Sans-Serif;
}

/*HEADER*/

.topBar{
    background-color: #293241;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position: fixed;
    overflow: hidden;
    height: 40pt;
    top: 0;
    left: 0;
    width: 100%;
}

.topBar p{
    background-color: #EE6C4D;
    float: left;
    margin-right: 0;
    padding: 10pt 10pt 10pt 10pt;
    display: block;
    height: 40pt;
    width: 120pt;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.topBar .topBarLink{
    color: #E0FBFC;
    float:left;
    text-decoration: none;
    text-align: center;
    padding: 14pt 14pt 18pt 18pt;
    display: block;
    height: 40pt;
    width: 6%;
}

#topBarLink1{
    width: 8%;
    font-size: 8pt;
    padding-top: 16pt;
}

.topBar .topBarLink:hover{
    color: #EE6C4D;
}

.topBar .topBarLogo{
    text-align: center;
    font-size: 14pt;
    color: black;
    text-decoration: none;
}

.topBar .topBarForm{
    float: right;
    display: block;
    height: 40pt;
    width: 20%;
}

.topBar .topBarForm input{
    background-color: #98C1D9;
    display: block;
    height: 40pt;
    width: 100%;
    font-size: 14pt;
}

.topBar .topBarForm ::placeholder{
    color: black;
}

.topBar .topBarForm ::-ms-input-placeholder {
    color: black;
}

.topBar .topBarSearch{
    background-color: #98C1D9;
    margin-left: 5pt;
    height: 40pt;
    float: right;
    padding: 0pt;
}

.topBar img{
    height: 40pt;
    float: right;
    padding: 0pt;
    margin: 0pt;
}

.topBar .loginLink{
    float: right;
    padding: 0pt;
    margin: 0pt;
}

/*index*/

.topNews{
    margin-left: 2.5%;
    width: 45%;
    float: left;
    background-color: #3D5A80;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 40pt;
    margin-top: 40pt;
}

.topNews p, h3{
    color: white;
}

.topNews h3{
    margin-left: 15pt;
}

.topNews img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.topGames{
    margin-right: 2.5%;
    margin-top: 40pt;
    width: 45%;
    float: right;
    background-color: #3D5A80;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.topGames h3{
    margin-left: 15pt;
    color: white;
}

.topGames img{
    width: 50pt;
    display: block;
    float: left;
    margin-left: 15pt;
}

.topGames p{
    padding: 0;
    color: white;
}

.topGames td{
    padding-bottom: 10pt;
}

.topForum{
    margin-top: 30pt;
    margin-right: 2.5%;
    width: 45%;
    float: right;
    background-color: #3D5A80;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.topForum p{
    color: white;
    padding: 10pt;
}

.topForum h3{
    color: white;
    margin-left: 15pt;
}

.topForum ul{
    list-style-type: none;
}

/*footer*/

.footer{
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;
}

/*RATING*/

.rating{
    padding-top: 10pt;
    padding-bottom: 20pt;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100pt;
    margin-top: 80pt;
    width: 500pt;
    background-color: #3D5A80;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.rating h3, h4{
    text-align: center;
    padding-top: 20pt;
    color: white;
    margin-bottom: 0;
}

.rating form{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.rating p, label{
    color: white;
    font-weight: bold;
    font-size: 12pt;
    margin: 2pt;
}
.rating table{
    margin-left: auto;
    margin-right: auto;
}
.rating input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
}

.rating textarea{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5px;
}

.rating input[type=submit]{
    background-color: #98C1D9;
}

.rating input[type=submit]:hover{
    background-color: #EE6C4D;
    color: white;
}

/*RESULTOFSEARCHGAMES*/

.searchGamesTable {
    font-size: 12px;    
    text-align: center;    
    border-collapse: collapse;
    width:100%; 
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.searchGamesTable th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #98c1d9;
    border-top: 4px solid #293241;  
    width: 150px;  
    border-bottom: 1px solid #fff; 
    color: #3d5a80; }

.searchGamesTable td {    
    padding: 8px;     
    background: #98c1d9;     
    border-bottom: 1px solid #fff;
    color: #000;    
    border-top: 1px solid transparent; }

.results{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.results h1{
    text-align: center;
}

.searchGamesTable form{
    width: 100%;
    height: 100%;
}

.searchGamesTable input{
    width: 100%;
    height: 30pt;
    border: 0;
    border-radius: 5px;
    background-color: #3d5a80;
    color: white;
}

.searchGamesTable input:hover{
    background-color: #293241;
}

/*VIEWGAME*/

.gameView{
    width: 50%;
    float: left;
    background-color: #3D5A80;
    padding-bottom: 10pt;
    margin-left: 7.5%;
}

.gameView p, h1, ul{
    color: white;
}

.gameView h1{
    text-align: center;
}

.gameView hr{
    border-top: white;
    width: 80%;
    margin-left: 3pt;
    margin-top: 15pt;
    margin-bottom: 15pt;
}

.gameView ul{
    list-style-type: none;
}

.gameButtons{
    width: 30%;
    float: right;
    margin-right: 7.5%
}

.gameButtons input{
    width: 100%;
    background-color: #EE6C4D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
}

.gameButtons input:hover{
    background-color: #bf5a41;
}

/*SENDMESSAGE*/

.sendmessage input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

.pagination{
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 40pt;
    text-align: center;
    background-color: #98c1d9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.pagination p{
    text-align: center;
    margin: 0;
}

.pagination form{
    width: 100%;
}

.pagination input{
    width: 100%;
    height: 30pt;
    border: 0;
    border-radius: 5px;
    background-color: #3d5a80;
    color: white;
}

.pagination input:hover{
    background-color: #293241;
}

.pagination p, form{
    width: 100%;
}

.forumBack{
    width: 30%;
    float: left;
    margin-top: 40pt;
}

.forumBack input{
    width: 100%;
    background-color: #EE6C4D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
}

.forumBack input:hover{
    background-color: #bf5a41;
}
